/* You can add global styles to this file, and also import other style files */
//exelente trabajo usando scss by DevX
.p-datatable .p-datatable-thead>tr>th {
    background-color: #7d7e80 !important;
    color: white !important;

}


.title-mantenimiento {
    color: #7d7e80;
    font-weight: bold;
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;

}

.tr-table-pagin {
    background-color: #8899bb;
    color: white;
}